
/*==================== fonts ======================= */

/*------------ google fonts --------- */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styling =============================== */

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #2d2d2d;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

*,
*:focus {
  outline: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none !important;
  color: #3ba6b6;
}

a:hover {
  color: #3ba6b6;
}

p {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

/*****************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: #343a40;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 16px;
}

/******* Helpers ********************************************************************/

/* font families================== */
/* 
.font-lato {
  font-family: "Lato", sans-serif;
}

.font-dm-serif {
  font-family: "DM Serif Display", serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
} */

/* font sizes ================= */
.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-24px {
  font-size: 24px !important;
}

.fs-32 {
  font-size: 32px !important;
}
.fs-40 {
  font-size: 40px !important;
}
/* text colors=== */
.text-primary {
  color: #0074ff !important;
}
.text-secondary {
  color: #ff077a !important;
}
.text-dark {
  color: #343a40 !important;
}
.text-dark-2 {
  color: #212529;
}

/* backgrounds ==== */

.bg-primary {
  background-color: #0074ff !important;
}
.bg-secondary {
  background-color: #ff077a !important;
}
.bg-light {
  background-color: #fafbfe !important;
}
.bg-light-pink {
  background-color: #fff8fc !important;
}
.bg-gradient-1 {
  background: -o-linear-gradient(283deg, #ff3485 20%, #007bff 100%);
  background: linear-gradient(167deg, #ff3485 20%, #007bff 100%);
}
.bg-grey {
  background-color: #f5f5f5 !important;
}
/*************Font Weight****************/

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-semi {
  font-weight: 600 !important;
}

.font-weight-bolder {
  font-weight: 800 !important;
}
.font-weight-black {
  font-weight: 900 !important;
}
/* *************************/

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.letter-spacing-6 {
  letter-spacing: 6px;
}

.letter-spacing-7 {
  letter-spacing: 7px;
}

.text-transform-none {
  text-transform: none !important;
}
/***************************/

.btn {
  moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none !important;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 30px;
  border-width: 1px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 10px -1px rgb(0 0 0 / 50%);
          box-shadow: 0 0 10px -1px rgb(0 0 0 / 50%);
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  background-color: #0074ff !important;
  border-color: #0074ff !important;
  color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0074ff !important;
  border-color: #0074ff !important;
  color: #ffffff !important;
}

.btn-secondary {
  background-color: #ff007a !important;
  border-color: #ff007a !important;
  color: #ffffff !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #ff007a;
  border-color: #ff007a !important;
  color: #ffffff !important;
}
.btn-outline-primary {
  color: #0074ff;
  border-color: #0074ff !important;
}
.btn-outline-primary:hover {
  background-color: #0074ff;
  color: #ffffff;
}
.btn-outline-secondary {
  color: #ff007a;
  border-color: #ff007a !important;
}
.btn-outline-secondary:hover {
  background-color: #ff007a;
  color: #ffffff;
}

.btn-outline-light {
  color: #ffffff;
  border-color: #ffffff !important;
  background-color: transparent !important;
}
.btn-outline-light:hover {
  background-color: #ffffff !important;
  color: #000000;
}

.btn-white {
  background-color: white !important;
  border-color: white !important;
  color: #2d2d2d !important;
}

.btn-white:hover,
.btn-white:focus {
  background-color: #ff007a !important;
  border-color: #ff007a !important;
  color: #ffffff !important;
}
.container {
  max-width: 1300px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
/*****************************/

.text-shadow {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}

.text-underline {
  text-decoration: underline !important;
}

/* borders  */
.border-primary {
  border-color: #0074ff !important;
}
.border-secondary {
  border-color: #ff007a !important;
}

/* cursor */
.cursor-pointer {
  cursor: pointer;
}
/*******************************************************************/

.form-control,
input.form-control,
input.form-control:focus {
  /* height: calc(2.4em + 0.9rem); */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #c1c1c1;
  /* color: #000000; */
  /* font-size: 13px; */
  outline: none;
  font-weight: normal;
  box-shadow: none;
}

select.form-control {
  height: calc(2.4em + 0.9rem);
  border-color: #c1c1c1;
}

textarea.form-control {
  /* font-size: 14px; */
  resize: none;
}

textarea.form-control:not([rows]) {
  height: 110px;
}

/* placeholder color ======== */

.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
  /* Edge */
  color: #bbbbbb;
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bbbbbb;
}

.form-control::-webkit-input-placeholder, ::-webkit-input-placeholder {
  color: #bbbbbb;
}

.form-control::-moz-placeholder, ::-moz-placeholder {
  color: #bbbbbb;
}

.form-control:-ms-input-placeholder, :-ms-input-placeholder {
  color: #bbbbbb;
}

.form-control::-ms-input-placeholder, ::-ms-input-placeholder {
  color: #bbbbbb;
}

.form-control::placeholder,
::placeholder {
  color: #bbbbbb;
}

.form-control::-moz-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

/********** Back To Top Button ***************************************************************************************************/

#scroll {
  background: #ff007a;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 99999;
  cursor: pointer;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  display: none;
  webkit-border-radius: 50px;
  border-radius: 50px;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: #0074ff;
  opacity: 1;
}

/* slider setting bootrap */
.carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  background: #ffffff;
  border-top: 0;
  border-bottom: 0;
}
.carousel-indicators li.active {
  background-color: #ff007a;
}

/* custom tabs  */
.custom-tabs .tab-list li {
  cursor: pointer;
}
.custom-tabs .tab-content {
  display: none;
}
.custom-tabs .tab-content.active {
  display: block;
}
/* ==================== media queries ============= */

/*********************************************************************/

@media (max-width: 991.98px) {
  h1,
  .h1 {
    font-size: 35px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }

  h5,
  .h5 {
    font-size: 18px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }
  .fs-18 {
    font-size: 16px !important;
  }
  .fs-40 {
    font-size: 35px !important;
  }
}

/* *************************************************** */

@media (max-width: 767.98px) {
  html,
  body {
    font-size: 14px;
  }
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 24px;
  }

  h3,
  .h3 {
    font-size: 22px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 16px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }
  .fs-15 {
    font-size: 12px !important;
  }
  .fs-18 {
    font-size: 16px !important;
  }
  .fs-40 {
    font-size: 30px !important;
  }
  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
/* ****************************************** */