
.primary-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index: 9999;
}
.primary-nav.active {
  left: 0;
}
.primary-nav ul {
  max-width: 400px;
  height: 100%;
  padding: 30px;

}
.primary-nav ul li{padding: 10px 0;}
.primary-nav ul li + li {
  padding-top: -10px;
  border-top: 1px solid #ff007a;
}

.primary-nav ul li a {
  color: #817d7d;
  font-size: 20px;
  display: block;
  text-align: center;
}

.primary-nav ul li a:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  color: #343a40;
}
.primary-nav ul li a.active{
  color: #343a40;
}


.primary-nav .close-menu {
  position: absolute;
  left: 350px;
  top: 20px;
  width: 40px !important;
  cursor: pointer;
  height: 40px !important;
  text-align: center;
  line-height: 40px;
}

@media (max-width: 500px) {
  .primary-nav ul {
    max-width: 275px;
    height: 100%;
    padding: 30px;
  }
  .primary-nav .close-menu {
    position: absolute;
    left: 220px;
    top: 20px;
    width: 40px !important;
    cursor: pointer;
    height: 40px !important;
    text-align: center;
    line-height: 40px;
  }
}