/* ============ header =========== */
header {
  padding: 15px 0;
}
header .header-right .open-menu {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 10px;
}
header .header-right .open-menu span {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  display: inline-block;
}
header .header-right .open-menu span + span {
  margin-top: 4px;
}
header .header-right .open-menu span:nth-child(2) {
  max-width: 70%;
}
header .logo img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .age-selector-dropdown .dropdown-item:focus,
header .age-selector-dropdown .dropdown-item:hover {
  background-color: #e3046b !important;
}
/* ============= banner ========== */

#HomeBanner {
  background: url(../images/banner-bg.png) no-repeat right top;
  padding-top: 75px;
  background-size: 60% auto;
}
#HomeBanner .banner-left .slider-nav .slick-list {
  padding: 10px 15px;
}
#HomeBanner .banner-left .slider-nav .item {
  padding: 10px;
  cursor: pointer;
  max-width: 95%;
  margin-bottom: 10px;
}
#HomeBanner .banner-left .slider-nav .item:hover,
#HomeBanner .banner-left .slider-nav .slick-current {
  box-shadow: 0px 3px 11px 2px rgb(255 46 249 / 35%);
}
#HomeBanner .banner-left .slider-nav .item .icon {
  flex: 0 0 75px;
}
#HomeBanner .banner-left .slider-nav .item h4 {
  margin-bottom: 0;
}
#HomeBanner .underline-mark {
  width: 100px;
  overflow: hidden;
}
#HomeBanner .underline-mark .inner-line {
  width: 150px;
  animation: slidein 3000ms linear infinite;
}
#HomeBanner .underline-mark .inner-line span {
  width: 50%;
  height: 3px;
}
#HomeBanner .banner-left .custom-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
  justify-content: end;
  height: 100%;
  padding: 10px 0;
}
#HomeBanner .banner-left .custom-controls::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
  background-color: #f00781;
  width: 1px;
  position: absolute;
}
#HomeBanner .banner-left .custom-controls .control {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #f00781;
  padding-bottom: 20px;
}
#HomeBanner .banner-left .custom-controls .control:hover {
  background-color: #f00781;
  color: #ffffff;
}

#HomeBanner .banner-right-content .inner-content {
  max-width: 425px;
  margin-left: auto;
}
#HomeBanner .banner-right-content .floating-icon-1 {
  left: 0;
  top: 0;
}
#HomeBanner .banner-right-content .floating-icon-2 {
  top: 50%;
  transform: scale(1.3) translateY(-50%);
  left: 25%;
}
#HomeBanner .banner-right-content .floating-icon-3 {
  bottom: 15%;
  left: 15%;
}
/* @keyframes slidein {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0%);

  }
  75%{
    transform: translateX(-10px);

  }
  
  100% {
    transform: translateX(10px);
  }
} */

/*BestServices ============= */
#BestServices {
  background: url(../images/side-bg.png) no-repeat right center;
}
#BestServices .custom-tabs .tab-list {
  border-bottom: 1px solid rgba(0, 116, 255, 0.3);
  display: flex;
}
#BestServices .custom-tabs .tab-list li {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#BestServices .custom-tabs .tab-list li.active {
  color: #0074ff;
  border-bottom: 1px solid #0074ff;
}

#BestServices .custom-tabs .tab-list li .icon .active-icon {
  display: none;
}
#BestServices .custom-tabs .tab-list li.active .icon .non-active-icon {
  display: none;
}
#BestServices .custom-tabs .tab-list li.active .icon .active-icon {
  display: inline-block;
}
/* FAQs ============= */
#FAQs .faq-box {
  height: 100%;
  transition: background-color 300ms linear;
}

#FAQs .faq-box .icon {
  display: inline-block;
}
#FAQs .faq-box:hover {
  background-color: #ff007a !important;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 0, 122, 0.3);
}
#FAQs .faq-box:hover:hover h5 {
  color: #ffffff;
}

#FAQs .faq-box:hover .icon {
  transform: rotate(-360deg);
}
/* Blogs ============= */
#Blogs p {
  max-width: 720px;
}
#Blogs .blog-box .blog-img {
  overflow: hidden;
}
#Blogs .blog-box .blog-img:hover img {
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
}
#Blogs .blog-box .blog-content {
  position: relative;
  border-radius: 10px;
  max-width: 95%;
  margin: -50px auto 0;
}
#Blogs .blog-box:hover .blog-content {
  margin-top: -70px;
}

/* MedicalCare ======== */
#MedicalCare {
  background: url(../images/medicare-bg.png) no-repeat;
}
#MedicalCare .custom-tabs .tab-list {
  display: flex;
}
#MedicalCare .custom-tabs .tab-list li {
  font-size: 18px;
}
#MedicalCare .custom-tabs .tab-list li.active {
  background-color: #0074ff;
  color: #ffffff;
}
#MedicalCare .video-box .thumbnail-img .bottom {
  bottom: 10px;
  left: 0%;
  width: 100%;
  padding: 10px;
  z-index: 1;
}
#MedicalCare .video-box .thumbnail-img .bottom button:hover {
  transform: scale(1.1) translateX(5px);
}
#MedicalCare .video-box .content .video-stats li {
  cursor: pointer;
}
#MedicalCare .video-box:hover {
  transform: translateY(-10px);
}
/* Testimonials =========== */
#Testimonials .testimonial-box {
  max-width: 80%;
  margin: 0 auto;
}
#Testimonials .testimonial-box .user-img img {
  border: 5px solid #000000;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 116, 255, 0.3);
}
#Testimonials .carousel-control-prev,
#Testimonials .carousel-control-next {
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 3px 11px 2px rgb(0 0 0 / 20%);
  width: 45px;
  height: 45px;
  font-size: 20px;
  border: 2px solid #444 !important;
  border-radius: 50px;
  color: #000000;
  opacity: 1;
  transition: all 300ms linear;
}
#Testimonials .carousel-control-prev:hover,
#Testimonials .carousel-control-next:hover {
  background-color: #000000;
  color: #ffffff;
}
/* Pricing ======== */
#Pricing .pricing-box {
  background: #ffffff;
  border-radius: 20px;
}
#Pricing .pricing-box:hover {
  background-color: #fce0ef;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#Pricing .pricing-box .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
#Pricing .pricing-box .img img {
  max-width: 260px;
}
#Pricing .pricing-box .discount-tag {
  top: 30px;
  right: 30px;
}

#Pricing .pricing-box .content .border-bottom-dotted {
  border-bottom: 3px dotted #ff007a;
}
/* Moments=========== */
#Moments {
  background: url(../images/moments-bg.png) no-repeat center;
}
#Moments .moment-box {
  overflow: hidden;
  border-radius: 10px;
}
#Moments .moment-box .action .btn-action {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#Moments .moment-box .action .btn-action.like {
  color: #ff007a;
}
#Moments .moment-box .action .btn-action.comment {
  color: #0074ff;
}
#Moments .moment-box .action .btn-action.like.active {
  background-color: #ff007a;
  color: #ffffff;
}
#Moments .moment-box .action .btn-action.comment.active {
  background-color: #0074ff;
  color: #ffffff;
}

#Moments .moment-box:hover .display-img {
  transition: all 300ms ease-in-out;
  transform: scale(1.2);
}
#Moments .moment-box .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
#Moments .moment-box:hover .overlay {
}
#Moments .moment-box .overlay .btn {
  opacity: 0;
  visibility: hidden;
}
#Moments .moment-box:hover .overlay .btn {
  opacity: 1;
  visibility: visible;
}
#Moments .moment-box:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
}
#Moments .moment-box .action {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 20px 15px;
}
#Moments .moment-box .action span {
  max-width: 50px;
}
#Moments .moment-box .action span:hover {
  transform: scale(1.1);
}
/* AppInfo */

/* QandA ======== */
#QandA .question-box .icon {
  flex: 0 0 80px;
}
#QandA .question-box .meta .stats img {
  max-width: 15px;
  margin-right: 5px;
}

/* DownloadApp ========== */
#DownloadApp {
  background: url(../images/dowload-bg-3.png) no-repeat right bottom;
}
#DownloadApp .container {
  padding: 50px !important;
}
#DownloadApp .inner {
  background: url(../images/dowload-bg-1.png) no-repeat 0 100px,
    url(../images/dowload-bg-2.png) no-repeat 110% -50px;
  border-radius: 20px;
  border-top-left-radius: 100px;
  padding: 0 50px;
}
#DownloadApp .floating-icon {
  top: -20px;
  right: -20px;
  max-width: 50px;
}
/* footer ===== */
footer .footer-links li + li {
  margin-top: 10px;
}
footer .footer-links a {
  color: #707070;
  display: inline-block;
}
footer .footer-links a:hover {
  color: #343a40;
  transform: translateX(5px);
}

.footer-social-icon li {
  margin: 5px;
}

.footer-social-icon li a {
  display: inline-block;
  background-color: #fff;
  color: #f00781;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50px;

  line-height: 32px;
  border: 1.5px solid #f00781;
  transition: all 0ms ease-in, transform 200ms ease-in-out;
}

.footer-social-icon li a:hover {
  color: #fff;
  transition: transform 200ms ease-in-out;
  background-color: #f00781;
  transform: translateY(-5px);
}

/* ==================== media queries ============= */

/* ***********  Format start **************** */

@media (min-width: 1920px) {
  .container-fluid {
    max-width: 1920px;
  }
}
@media (max-width: 1199.98px) {
}
/**********************************************/
@media (min-width: 992px) {
}

/**********************************************/

@media (max-width: 991.98px) {
  #Testimonials .testimonial-box .user-img img {
    max-width: 100px;
  }
  #QandA .question-box .icon {
    flex: 0 0 40px;
  }

  #BestServices .custom-tabs .tab-list li {
    font-size: 14px;
  }
  #HomeBanner {
    padding-bottom: 50px;
    background-image: url(../images/top-banner-bg.png);
    background-size: 90% auto;
  }
  #HomeBanner .banner-left .slider-nav .item {
    text-align: center;
    max-width: 100%;
  }
  #HomeBanner .banner-left .slider-nav .item .icon {
    flex: none;
  }
  #HomeBanner .banner-left .slider-nav .item .content {
    display: none;
  }
  #HomeBanner .banner-left .slider-nav .slick-current img {
    transform: scale(1.3);
  }
  #HomeBanner .banner-left .slider-nav .item:hover,
  #HomeBanner .banner-left .slider-nav .slick-current {
    box-shadow: none;
  }
  #HomeBanner .banner-left .custom-controls {
    display: none !important;
  }
  #HomeBanner .banner-right-content .inner-content {
    max-width: none;
    text-align: center;
  }
  #HomeBanner .banner-right-content .floating-icon-1,
  #HomeBanner .banner-right-content .floating-icon-2,
  #HomeBanner .banner-right-content .floating-icon-3 {
    display: none;
  }
  #DownloadApp .inner {
    background: url(../images/dowload-bg-1.png) no-repeat 0 100px,
      url(../images/dowload-bg-2.png) no-repeat 120% -100px;
  }
  footer .app-download-links img {
    max-width: 150px;
  }
  #DownloadApp .inner {
    background: url(../images/dowload-bg-1.png) no-repeat -25 100%,
      url(../images/dowload-bg-2.png) no-repeat 125% -25%;
    border-radius: 20px;
    border-top-left-radius: 100px;
    padding: 0 30px;
    background-size: 60% auto, auto 75%;
  }
}

/*********************************************************************/

@media (max-width: 767.98px) {
  .header-right .btn-group .mob-btn {
    max-width: 40px;
    box-shadow: none;
  }
  #HomeBanner {
    padding-bottom: 30px;
  }
  #HomeBanner .banner-left .slider-nav .slick-current img {
    transform: scale(1.3);
  }
  #HomeBanner .banner-left .slider-nav .item {
    padding-top: 10px;
  }
  #BestServices .custom-tabs .tab-list {
    display: none;
  }
  #MedicalCare .custom-tabs .tab-list {
    display: none;
  }
  #Moments .moment-box .action {
    padding: 10px;
  }
  #Moments .moment-box .action .btn-action {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    font-size: 15px;
    height: 30px;
    width: 30px;
    line-height: 25px;
    text-align: center;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  }
  #DownloadApp .inner {
    background: url(../images/dowload-bg-1.png) no-repeat 0% 125%,
      url(../images/dowload-bg-2.png) no-repeat 125% -50%;
    border-radius: 20px;
    border-top-left-radius: 100px;
    padding: 0 30px;
    background-size: 100% auto, auto 50%;
  }
  #DownloadApp .container {
    padding: 30px !important;
  }
  #Testimonials .carousel-control-prev,
  #Testimonials .carousel-control-next {
    position: static;
    transform: none;
    margin: 0 10px;
  }
  #Testimonials .controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
}

/* *********************************************** */
@media (max-width: 479.98px) {
  #HomeBanner .banner-left .slider-nav .item .icon {
    transform: scale(0.8);
  }
  #FAQs .faq-box .icon {
    max-width: 60px;
  }
  /* #DownloadApp .inner {
    background: url(../images/dowload-bg-1.png) no-repeat 0% 100%, url(../images/dowload-bg-2.png) no-repeat 250% -50%;
    border-radius: 20px;
    border-top-left-radius: 100px;
    padding: 0 30px;
} */
}

/* *********************************************** */
